<section id="citation">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Citation</h2>
                <hr class="primary">
                <p>
                Richardson, A.D., Hufkens, K., Milliman, T., Aubrecht, D.M., Chen, M., Gray, J.M., Johnston, M.R., Keenan, T.F., Klosterman, S.T., Kosmala, M., Melaas, E.K., Friedl, M.A., Frolking, S. 2017. Tracking vegetation phenology across diverse North American biomes using PhenoCam imagery. Scientific Data. (<a href="http://onlinelibrary.wiley.com/doi/10.1111/2041-210X.12970/abstract?campaign=wolacceptedarticle">in press</a>)
                <br><br>
		Hufkens K., Basler J. D., Milliman T. Melaas E., Richardson A.D. 2017. An integrated phenology modelling framework in R: Phenology modelling with phenor. Methods in Ecology & Evolution. (in press)


				</p>
            </div>
        </div>
    </div>
</section>