<section id="download">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Download Instructions</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
		<br>
		<h3 class="section-heading"> Download the full dataset from the 
		<a href="https://daac.ornl.gov/cgi-bin/dsviewer.pl?ds_id=1511">ORNL DAAC</a></h3>
		<br>
		<h3 class="section-heading"> Install the PhenoCam R package to query (more recent) data</h3>
		<br>
{% highlight R %}
install.packages("phenocamr")
library("phenocamr")
{% endhighlight %}
        </div>
	</div>
</section>
