<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>PhenoCam Datasets<h1>
            <h1>(V1.0 & V2.0)</h1>
            <hr>
            <a href="#download" class="btn btn-primary btn-xl page-scroll">Install Data Locally (V1.0 & V2.0)</a><br>
	    <br>
	    <a href="https://phenocam.sr.unh.edu/phenocam_explorer/#shiny-tab-explorer_v1" class="btn btn-primary btn-xl page-scroll">Explore Data Online (V1.0)</a>
	    &nbsp
	    &nbsp
	    <a href="https://phenocam.sr.unh.edu/phenocam_explorer/#shiny-tab-explorer_v2" class="btn btn-primary btn-xl page-scroll">Explore Data Online (V2.0)</a>
        </div>
    </div>
</header>
