<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>PhenoCam Datasets (V1.0 & V2.0)</h1>
            <hr>
            <a href="#download" class="btn btn-primary btn-xl page-scroll">Install Data Locally (V1.0 & V2.0)</a><br>
	    &nbsp
	    &nbsp
	    <a href="http://explore.phenocam.us" class="btn btn-primary btn-xl page-scroll">Explore Data Online (V1.0)</a>
	    <a href="http://explore.phenocam.us" class="btn btn-primary btn-xl page-scroll">Explore Data Online (V2.0)</a>
        </div>
    </div>
</header>
