<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Installation Instructions</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">

		<p>This R package includes functions to query the latest version of the PhenoCam database alongside with a shiny web application as an alternative front end.</p>
		<br>
		<h3 class="section-heading">Install all dependent packages</h2>
		<br>
{% highlight R %}
install.packages("devtools")
install.packages("shiny")
library("devtools")
{% endhighlight %}

		<br>
		<h3 class="section-heading"> Install the PhenoCam R package and curated dataset (this is a xx Mb download)</h2>
		<br>
{% highlight R %}
install_github("khufkens/phenocamr")
{% endhighlight %}
            </div>
        </div>
    </div>
</section>
